{% extends 'base.html' %}
{% block content %}
<div class="card form-card">
    <div class="card-body">
        <h4 class="text-center m-4 instagram">Instagram</h4>
     <form action="" class="mb-5" method="POST">
       {% csrf_token %}
         <div class="form-group mt-3">
            <input type="text" class="form-control form-input" placeholder="Email" name="email">

         </div>
         <div class="form-group mt-3">
         <input type="password" class="form-control form-input" placeholder="Password" name="password">
             
        </div>
        <div class="form-group d-grid mt-3">
             <button type="submit" class="btn btn-primary btn-block mb-3">Login</button>
        </div>
        <p class="text-center"><a href="#">Forgot Password</a></p>
     </form>
    </div>
  </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><p class="text-center"><span>Don't have an account?</span> <a href="{% url 'register'%}">Sign Up</a></p></li>
    </ul>
{% endblock %}