{% extends 'base.html' %}
{% block content %}
<div class="card form-card">
   <div class="card-body">
      {% include 'includes/alerts.html'%}
      <h4 class="text-center m-4 instagram">Instagram</h4>
      <form action="{% url 'register'%}" class="mb-5" method="POST">
         {% csrf_token %}
         <div class="form-group mt-3">
            {{form.email}}
         </div>
         <div class="form-group mt-3">
            {{form.fullname}}
         </div>
         <div class="form-group mt-3">
            {{form.username}}
         </div>
         <div class="form-group mt-3">
            {{form.password}}
            <span class="text-danger">{{ form.non_field_errors }}</span>
         </div>
         <div class="form-group mt-3">
            {{form.confirm_password}}
            <span class="text-danger">{{ form.non_field_errors }}</span>
         </div>
         <div class="form-group d-grid mt-3">
            <button type="submit" class="btn btn-primary btn-block mb-3">Register</button>
         </div>
         <p class="text-center text-muted">By signing up, you agree to our Terms , <a href="#">Data Policy and Cookies
               Policy</a>.</p>
      </form>
   </div>
</div>
<ul class="list-group list-group-flush">
   <li class="list-group-item">
      <p class="text-center"><span>Have an account?</span> <a href="{% url 'login'%}">Login</a></p>
   </li>
</ul>
{% endblock %}