<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand instagram-1" href="{% url 'home'%}" style="margin-left: 8rem;">Instagram</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="margin-right: 8rem;">
                <form class="d-flex justify-content-center align-items-center">
                    <input class="form-control me-2" name="name" type="search" placeholder="Search user by username..." aria-label="Search">
                </form>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home'%}"><i class="fa-solid fa-house"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#"><i class="fa-solid fa-comment-dots"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'create-post'%}"><i class="fa-solid fa-square-plus"></i></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Profile
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'profile' request.user.id %}"><i class="fa-solid fa-user"></i>  Profile</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-gear"></i>  Setting</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-bookmark"></i>  Saved</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'logout'%}"><i class="fas fa-sign-out-alt"></i>  Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>

</nav>

